.title-div
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    background-color: rgb(0, 255, 242);
    width: 100%;
    top: 0;
}

@media screen and (max-width: 700px) {
    .title-div{
        padding-bottom: 12px;
     }
   }

   @media screen and (max-width: 350px) {
    .title-div{
        padding-bottom: 26px;
     }
   }

.title
{
    font-size: 72px;
    padding-left: 5px;
    padding-right: 5px;
   padding-bottom: 0;
   padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (max-width: 1100px) {
    .title{
       font-size: 46px;
     }
   }

   @media screen and (max-width: 700px) {
    .title{
       font-size: 36px;
     }
   }

   @media screen and (max-width: 350px) {
    .title{
       font-size: 24px;
     }
   }


.title-statement
{
    padding-top: 0;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 125px;
}

@media screen and (max-width: 1100px) {
    .title-statement{
       font-size: 12px;
     }
   }

   @media screen and (max-width: 700px) {
    .title-statement{
       font-size: 8px;
     }
   }


.main-links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    border-radius: 5px;
    z-index: 2;
    
}

@media screen and (max-width: 1000px) {
  .main-links{
     font-size: 12px;
     
    
   }
 }


@media screen and (max-width: 700px) {
    .main-links{
       flex-direction: column;
       top: 12px;
       
      
     }
   }

.links, .tickets 
{
    padding: 12px;
    margin: auto;
    font-size: 22px;
    border: none;
    background: none;
    color: rgb(68, 68, 68);
    flex-wrap: nowrap;
    transition: .5s;
    font-family: 'Bebas Neue', cursive;
    

}

.links:hover, .tickets:hover
{
    color: rgba(0, 0, 0, 0.403);
    cursor: pointer;
   
}

.links:active, .tickets:active
{
    color: rgb(191, 191, 191);
    transition: .3s;
}

@media screen and (max-width: 1100px) {
  .links{
     font-size: 12px;
    
   }
 }


  @media screen and (max-width: 700px) {
    .links{
       padding: 2px;
       font-size: 12px;
      
     }
   }